.result-container {
  display: flex;
  flex-direction: column;
  align-items: center;

  gap: 1em;
}

.result {
  background-color: slategray;
  border-radius: 15px;

  padding: 0.85em;

  text-align: center;
  text-wrap: nowrap;

  width: 245px;
}
